body {
    background: linear-gradient(to bottom, red, white);
    display: grid;
    grid-template-columns: 1fr 2fr;  /* left 1/3, right 2/3 */
    height: 100vh;
    gap: 20px;
    padding: 20px;
}

.content{
    align-self: center;
}
p {
    grid-column: 1 / 2;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* white with 80% opacity */
    border-radius: 10px;
    font-size: 18px;
}

.chart-container {
    grid-column: 2 / 3;  /* right 2/3 */
    width: 100%;          
    height: 70%;         
    background-color: #ffffea;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    padding: 10px;
    align-self: center;
}
