body {
    background: linear-gradient(to bottom, red, white);
    display: grid;
    grid-template-columns: repeat(10, 1fr);  /* left 1/3, right 2/3 */
    height: 100vh;
    gap: 20px;
    padding: 20px;
    max-width: 100%; 
    overflow: hidden;
}

.content{
    width:100%;
    height: 93%;
    grid-column: 1 / 3;
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 10px;
    text-align: center;
}
.content img{
    width:90%;
}
p {
    padding: 15px;
    font-size: 18px;
}

.chart-container {
    grid-column: 3/11; 
    width: 100%;          
    height: 70%;         
    background-color: #ffffea;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    padding: 10px;
    align-self: center;
}
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #ff4757;
    color: white;
    transition: all 0.5s ease;
  }
  button:hover {
    background-color: white;
    color: red;
    transform: scale(1.05);
  }
    